
$gray1: #d7d7d7
$gray2: #868181


body
  background: url("/images/bg-gradient.png") repeat-x

a
  color: #118bd1
  text-decoration: none
  &:hover
    color: #99cdeb
    
#wrapper
  position: relative
  width: 800px
  margin: auto
  font: 12px Verdana,non-serif
  div
    border: 0px solid black

#header
  color: red
  #login
    margin: 10px 20px 0 0
    border: 0px solid black
    float: right
    input
      color: $gray2
      border: 1px solid $gray1
      margin: 0 0 2px 0
      padding: 2px
      display: block
      font-size: 12px
      width: 10em
    input.signin
      color: #000
      background: $gray1
      border: 1px solid $gray2
      float: right
      width: 50px

#toolbar
  position: absolute
  right: 78px
  top: 3px

#box
  border: 1px solid black
  .top
    background: url("/images/box-top.png") no-repeat
    height: 20px
    border: 0px solid black
    margin-top: 1em
  .middle
    background: url("/images/box-side.png") repeat-y
    width: 800px
    padding-left: 20px
  .bottom
    background: url("/images/box-bottom.png") no-repeat
    height: 20px

#splash
  padding: 50px 100px 0 80px
  font: 30px Verdana,non-serif
  .highlight
    color: #ee3758
  ul
    margin: 0.5em 0 1em 1em
    margin-left: 40px
  li
    color: $gray2
    display: inline-block
    font: 25px "Helvetica",non-serif
  div
    margin: 0 0 0.5em 0
  .indent
    margin-left: 40px
    font-style: italic
    font-size: 25px
  .join
    margin: 2em 0 2em 400px
  hr
    color: #d7d7d7
    background-color: #d7d7d7


#footer
  text-align: center
  color: $gray2
  font: 10px Verdana,non-serif

#stream_main
  position: relative
  #info
    margin-left: 100px
    padding: 20px
    h1
      font-size: 2em
  .join
    margin: 1em 0 1em 120px
  .join a
    color: black
    font-size: 2em
    &:hover
      text-decoration: underline

#share_prompt
  width: 500px
  height: 150px
  margin: 0 0 0 100px
  padding-top: 20px
  textarea
    margin: auto
    width: 450px
    height: 75px
    display: block
  .submit
    float: right
    margin: 5px 25px 0 0
      
#stream
  width: 600px

#sidebar
  top: 0
  width: 200px
  position: absolute
  margin-left: 600px


#navigation
  margin: 0 0 0 10px
  position: absolute
  top: 160px
  h2
    color: $gray2
    font-weight: bold
    margin: 1em 0 5px 0

#portrait
  margin: 10px 0 30px 0
  background: url("/images/portrait.png") no-repeat
  width: 130px
  height: 130px
  img
    margin: 20px 0 0 20px
  div
    margin: 20px 0 0 10px
    width: 110px
    text-align: center


// * thought styling
#thoughts
  border: 0px solid black

.thought
  position: relative
  margin-bottom: 3em
  .date
    width: 100px
    text-align: right
    font-size: 1em
    font-weight: bold
    color: $gray2
    margin-bottom: 5px
  .time
    clear: both
    float: left
    width: 100px
    text-align: right
    font-size: 0.8em
    color: #b9b9b9
  .content
    top: 0
    position: relative
    margin-left: 100px
    padding-left: 25px
    .name a
      color: #2eaeca
      text-decoration: none
      font-weight: bold
      margin-right: 3px
      &:hover
        color: #8bf1ff

#comments
  .top
    margin: 5px 0 0 130px
    background: url("/images/comment-nub.png") no-repeat
    height: 5px
    width: 10px
  .input
    width: 450px
    background: #e1e4e5
    margin-left: 125px
    padding: 3px
    textarea
      width: 442px
      border: 1px solid #a8a8a8
      display: block
      padding: 3px
    .submit
      margin-top: 3px
      width: 75px
      float: right

.comment
  background: #e1e4e5
  margin: 0 0 3px 125px
  width: 450px
  padding: 3px
  .timestamp
    font-size: 8px
    color: $gray2
  .name a
    color: #2eaeca
    text-decoration: none
    font-weight: bold
    margin-right: 3px
    &:hover
      color: #8bf1ff

.clear
  height: 1px
  clear: both
  visibility: hidden

.highlight
  color: #ee3758
  display: inline-block


#sign_up_box
  padding-top: 20px
  padding-bottom: 20px
  background-color: white
  margin-top: 2em
  border: 1px solid $gray1 !important
  margin-bottom: 2em
  font-family: 'Arial'

#sign_up
  width: 620px
  margin: auto
  .title
    font-size: 29px
    border-bottom: 1px solid #bcbbbb
    padding-bottom: 5px
  span.highlight
    color: #ee3758
  table
    margin-top: 30px
    color: #5d5d5d
  span.input_helper
    display: block
    padding-top: 7px
    font-size: 9px
  span.tos_helper
    display: block
    padding-top: 7px
  .submit_button
    cursor: pointer
    border: 1px solid $gray1
    background-color: #e8e8e8
    padding-top: 7px
    padding-bottom: 7px
    padding-left: 12px
    padding-right: 12px
    margin-top: 15px
    margin-bottom: 15px
    font-size: 20px !important
    border-bottom-left-radius: 5px 5px
    border-bottom-right-radius: 5px 5px
    border-top-left-radius: 5px 5px
    border-top-right-radius: 5px 5px
  .tos_print
    margin-top: 3px
    font-size: 14px
  th
    width: 175px
    font-size: 19px
    text-align: right
    padding-right: 7px
  td.submit_td
    padding-top: 15px
    padding-bottom: 20px
  td.input_helper_td
    padding-bottom: 17px
  .sign_up_input
    border: 1px solid #9a9a9a
    width: 200px
    outline-style: none
    outline-width: 0px
    border-bottom-left-radius: 5px 5px
    border-bottom-right-radius: 5px 5px
    border-top-left-radius: 5px 5px
    border-top-right-radius: 5px 5px
    font-size: 18px
    height: 21px
    padding: 8px
    letter-spacing: 0.07em
  code
    display: block
    width: 430px !important
    height: 75px !important
    font-size: 13px !important
    letter-spacing: 0px !important