a:link {
	color:#66AFFF;
	text-decoration: none;}      /* unvisited link */
a:visited {
	color:#66AFFF;
	text-decoration: none;}  /* visited link */
a:hover {
	color:#66AFFF;
	text-decoration: underline;}  /* mouse over link */
a:active {
	color:#66AFFF;
	text-decoration: none;}  /* selected link */

body {
	background-color: #66CCFF;
	font-size: 12px;
}
#header {
	position: relative;
	margin-left :auto;
	margin-right: auto;
	height: 150px;
	width: 650px;
	margin-bottom: 20px;
	margin-top: 20px;
}

/* temporary */
#header p {
	margin: 10px;
	font-family: "Lucida Grande";
}

#main {
	position: relative;
	margin-left :auto;
	margin-right: auto;
	min-height: 600px;
	width: 650px;
	font-family: "Lucida Grande";
	margin-bottom: -10px;
}

#main div.mainContent {
	float: left;
	height: 100%;
	width: 416px;
	padding-left: 20px;
	padding-right: 20px;
}

.mainContent ul li {
	list-style: none;
}

.mainContent ul {
}
.mainContent li {
}

.signOut {
	float: right;
}

ul.thoughtList {
	padding-left: 0px;
}

.thoughtDate {
	font-size: 10px;
	color: #C0C0C0;
}
/* share layouts */
.mainContent hr {
	color: gray;
	background-color: #C0C0C0;
	border: 0px;
	height: 1px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.sayText {
	height: 50px;
	width: 100%;
} 
.saySubmit {
	margin-left: 100%;
	float: right;
}

.shareBox {
	border: solid gray 1px;
}

/* comment CSS */
.commentNub {
	height: 6px;
	width: 12px;
	display: block;
	border: none;
	margin-left: 10%;
	margin-right: 75%;
	margin-bottom: -3px !important;
}
.commentList {
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #F0F0F0;
	margin-right: 4px;
}
.commentBox {
	margin-left: 40px !important;
	width: 88%;
}

.commentSubmit {
	margin-top: 3px;
	margin-left: 100%;
	float:right;
}

/* main layouts */
#main div.rightPanel  {
	border-left-style: solid;
	border-left-color: #66CCFF;
	border-left:dotted #66CCFF 1px;
	float: right;
	min-height: 600px;
	width: 170px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	}
/* rounded corners styles*/
.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#FFFFFF;}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #a7e1ff;
  border-right:1px solid #a7e1ff;
  background:#d8f2ff;}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #75d1ff;
  border-right:1px solid #75d1ff;
  background:#e1f5ff;}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #e1f5ff;
  border-right:1px solid #e1f5ff;}
.spiffy4{
  border-left:1px solid #a7e1ff;
  border-right:1px solid #a7e1ff;}
.spiffy5{
  border-left:1px solid #d8f2ff;
  border-right:1px solid #d8f2ff;}
.spiffyfg{
	height: 140px;
  background:#FFFFFF;}
.spiffyfg2{
  min-height: 600px;
  background:#FFFFFF;}