body {
  background: url("/images/bg-gradient.png") repeat-x; }

a {
  color: #118bd1;
  text-decoration: none; }
  a:hover {
    color: #99cdeb; }

input {
  font-size: 12px;
  border: 1px solid #9a9a9a;
  margin: 0 0 2px 0;
  padding: 3px; }

.box_padding, #about_us {
  padding: 20px 80px 20px 40px; }

#about_us .links {
  text-align: center;
  margin-bottom: 20px; }
#about_us h1 {
  font-size: 18px;
  margin-bottom: 7px; }
#about_us h2 {
  font-size: 23px;
  margin-bottom: 10px;
  color: #ee3758; }
#about_us .highlight, #about_us .simple_form .alert, .simple_form#about_us .alert, .simple_form #about_us .alert {
  color: #ee3758; }
#about_us p {
  margin-bottom: 10px;
  color: #383838; }

.submit {
  cursor: pointer;
  border: 1px solid #d7d7d7;
  background: #e8e8e8;
  padding: 3px 1em;
  font: 1em; }
  .submit:hover {
    border: 1px solid black; }

.clear {
  height: 1px;
  clear: both;
  visibility: hidden; }

.highlight, .simple_form .alert {
  color: #ee3758;
  display: inline-block; }

.rounded, #sign_up input, #sign_up code {
  border-radius: 5px; }

.rounded_small, #splash_login input {
  border-radius: 2px; }

.rounded_medium, input {
  border-radius: 3px; }

#wrapper {
  position: relative;
  width: 800px;
  margin: auto;
  font: 12px Verdana, non-serif; }
  #wrapper div {
    border: 0px solid black; }

#splash_login {
  margin: 10px 20px 0 0;
  border: 0px solid black;
  float: right; }
  #splash_login input {
    color: #868181;
    display: block;
    width: 10em; }
  #splash_login .submit {
    color: black;
    background: #f0f0f0;
    float: right;
    padding: 2px;
    width: 58px;
    height: 20px; }

#toolbar {
  position: absolute;
  right: 78px;
  top: 8px; }

#box .top {
  background: url("/images/box-top.png") no-repeat;
  height: 20px;
  border: 0px solid black;
  margin-top: 1em; }
#box .middle {
  background: url("/images/box-side.png") repeat-y;
  width: 800px;
  padding-left: 20px; }
#box .bottom {
  background: url("/images/box-bottom.png") no-repeat;
  height: 20px; }

.sign_up_link {
  float: right;
  margin: 10px 20px 0px 0px; }

.simple_form {
  padding: 20px 0px 20px 0px; }
  .simple_form h1 {
    font-size: 20px;
    border-bottom: 1px solid #bcbbbb;
    padding: 0 0 5px 0.5em;
    margin: 0 3em 1.5em 1em; }
  .simple_form table {
    margin: auto;
    width: 500px; }
  .simple_form th {
    text-align: right;
    padding-right: 10px; }
  .simple_form td {
    padding-top: 8px; }
  .simple_form .hint {
    color: #868181; }
    .simple_form .hint td {
      padding-bottom: 10px; }
  .simple_form .input input {
    width: 200px; }
  .simple_form .alert {
    width: 100%; }

#splash {
  padding: 50px 100px 0 80px;
  font: 30px Verdana, non-serif; }
  #splash .highlight, #splash .simple_form .alert, .simple_form#splash .alert, .simple_form #splash .alert {
    color: #ee3758; }
  #splash ul {
    margin: 0.5em 0 1em 1em;
    margin-left: 40px; }
  #splash li {
    color: #868181;
    display: inline-block;
    font: 25px "Helvetica", non-serif; }
  #splash div {
    margin: 0 0 0.5em 0; }
  #splash .indent {
    margin-left: 40px;
    font-style: italic;
    font-size: 25px; }
  #splash .join {
    margin: 2em 0 2em 400px; }
  #splash hr {
    color: #d7d7d7;
    background-color: #d7d7d7; }

#footer {
  margin: 20px 0px 20px 0px;
  text-align: center;
  color: #868181;
  font: 10px Verdana, non-serif; }

#stream_main {
  position: relative; }
  #stream_main #info {
    margin-left: 100px;
    padding: 20px; }
    #stream_main #info h1 {
      font-size: 2em; }
  #stream_main .join {
    margin: 1em 0 1em 120px; }
  #stream_main .join a {
    color: black;
    font-size: 2em; }
    #stream_main .join a:hover {
      text-decoration: underline; }

#share_prompt {
  width: 500px;
  margin: 0 0 0 100px;
  padding-top: 20px;
  padding-bottom: 100px; }
  #share_prompt textarea {
    border: 1px solid #868181;
    padding: 3px;
    margin: auto;
    width: 450px;
    height: 39px;
    display: block; }
  #share_prompt .submit {
    border: 1px solid #d7d7d7;
    background: none;
    padding: 3px 21px;
    border: none;
    float: right; }

#stream {
  width: 600px; }

#sidebar {
  top: 0;
  width: 200px;
  position: absolute;
  margin-left: 600px; }

#navigation {
  margin: 0 0 0 10px;
  position: absolute;
  top: 160px; }
  #navigation h2 {
    color: #868181;
    font-weight: bold;
    margin: 1em 0 5px 0; }
  #navigation .button {
    font-family: verdana;
    border-color: #d7d7d7;
    background: #5bb4e5;
    cursor: pointer;
    color: #383838;
    font-size: 18px;
    color: white;
    width: 115px; }
    #navigation .button:hover {
      border-color: black; }

#portrait {
  margin: 10px 0 30px 0;
  background: url("/images/portrait.png") no-repeat;
  width: 130px;
  height: 130px; }
  #portrait img {
    margin: 20px 0 0 20px; }
  #portrait div {
    margin: 20px 0 0 10px;
    width: 110px;
    text-align: center; }

#thoughts {
  border: 0px solid black; }

.thought {
  position: relative;
  padding-bottom: 3em;
  width: 600px; }
  .thought .date {
    width: 100px;
    text-align: right;
    font-size: 1em;
    font-weight: bold;
    color: #868181;
    margin-bottom: 5px; }
  .thought .time {
    clear: both;
    float: left;
    width: 100px;
    text-align: right;
    font-size: 0.8em;
    color: #b9b9b9; }
  .thought .content {
    top: 0;
    position: relative;
    margin-left: 100px;
    padding-left: 25px; }
    .thought .content .name a {
      color: #2eaeca;
      text-decoration: none;
      font-weight: bold;
      margin-right: 3px; }
      .thought .content .name a:hover {
        color: #8bf1ff; }

#comments .top {
  margin: 5px 0 0 150px;
  background: url("/images/comment-nub.png") no-repeat;
  height: 5px;
  width: 10px; }
#comments .input {
  width: 452px;
  background: #f0f0f0;
  margin-left: 125px;
  padding: 3px; }
  #comments .input textarea {
    height: 15px;
    width: 444px;
    border: 1px solid #d7d7d7;
    display: block;
    padding: 3px; }
  #comments .input .submit {
    background: #5bb4e5;
    margin: 4px 1px 0px 0px;
    width: 85px !important;
    color: white;
    float: right; }
    #comments .input .submit:hover {
      border-color: #868181; }

.comment {
  background: #f0f0f0;
  margin: 0 0 3px 125px;
  width: 448px;
  padding: 3px 5px; }
  .comment .timestamp {
    font-size: 8px;
    color: #868181; }
  .comment .name a {
    color: #2eaeca;
    text-decoration: none;
    font-weight: bold;
    margin-right: 3px; }
    .comment .name a:hover {
      color: #8bf1ff; }

#sign_up {
  width: 620px;
  margin-left: 40px; }
  #sign_up h1 {
    font-size: 29px;
    border-bottom: 1px solid #bcbbbb;
    padding-bottom: 6px; }
  #sign_up table {
    margin-top: 30px;
    color: #5d5d5d; }
  #sign_up .hint {
    padding: 2px 0px 14px 0px;
    font-size: 10px; }
  #sign_up .submit {
    height: 40px;
    width: 225px;
    margin: 15px 0;
    font-size: 20px; }
    #sign_up .submit:hover {
      border: 1px solid black; }
  #sign_up .tos a {
    margin-top: 3px;
    font-size: 14px; }
  #sign_up code {
    overflow-y: auto;
    height: 13em; }
  #sign_up .fieldWithErrors {
    width: 0px;
    margin: 0px;
    padding: 0px; }
  #sign_up div.error_text {
    display: inline;
    vertical-align: middle; }
  #sign_up td.signup_error {
    color: black; }
  #sign_up td.signup_error {
    width: 212px; }
  #sign_up th {
    width: 175px;
    font-size: 19px;
    text-align: right;
    padding-right: 7px; }
  #sign_up img {
    vertical-align: middle; }
  #sign_up input {
    width: 200px;
    outline-style: none;
    outline-width: 0px;
    font: 16px "Helvetica", non-sesrif;
    height: 21px;
    padding: 8px;
    letter-spacing: 0.06em; }
  #sign_up code {
    padding: 3px;
    border: 1px solid #9a9a9a;
    display: block;
    width: 430px;
    height: 75px;
    font-size: 1em; }
