%div= link_to("Create your own group",new_group_path)
%h2 All The Groups In The Universe
%ul
  - @groups.each do |group|
    %li
      %div= link_to(group.name,:action => :show, :id => group.id)
      %div= group.description
      %div= link_to_join(group)
      %hr
    