= render :partial => "shared/toolbar"
#about_us
  %div.links
    =link_to "Back Home", :controller => :home
    |
    =link_to "Sign Up", new_user_registration_path
  %h2 About reremind
  %p This is a paragraph that's going to talk about reremind as a company
  %h1 Vincent Chu
  %p Paragraph that talks about Vince
  %h1 Howard Yeh
  %p Paragraph that talks about Howard