- content_for(:toolbar) do
  #splash_login
    = sign_in_link

#splash
  %h1
    Reremind is a
    %span.highlight
      community
    for people who are going through life difficulties.
  %ul
    %li
      Depression
    %li
      Loneliness
    %li
      Anxiety
    %li
      Relationship Problems
    %li
      Parenting Issues
  %div
    We want to
    %span.highlight
      help
  .indent
    Share your thoughts. Make new Friends.
  = link_to(image_tag("join-us-now.png",:class => "join"),new_user_registration_path)
  
