%ul#thoughts
  - day = nil
  - @thoughts.each do |thought|
    %li.thought
      - # print one date timestamp for all the thoughts that has the same day
      - if day.nil? or thought.created_at.yday != day.yday
        - day = thought.created_at
        .date= thought.created_at.strftime("%b %d")
        - # time_ago_in_words(thought.created_at)+ " ago"
      .time= thought.created_at.strftime("%I:%M %p").downcase
      = render(:partial => "thoughts/thought", :locals => {:thought => thought})
      